**/.idea/
**/*.iml
bin/
.classpath
.project
.gradle/
.settings/
build/
/repo/
war/
gwt-unitCache/
*.md.html
/doc/javadoc/
/doc/__output__/
/.dnconfig
/eclipse.xml
/doc/.dnconfig-shm
/doc/.dnconfig-wal
