# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/.DS_Store
plugin/src/functionalTest/resources/sample-gwt-project/gradle
plugin/src/functionalTest/resources/sample-gwt-project/gradlew
plugin/src/functionalTest/resources/sample-gwt-project/gradlew.bat
